.glasses-shop {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.page-title {
  text-align: center;
  color: #333;
}

.glasses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination a {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #3498db;
  border: 1px solid #3498db;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
  background-color: #3498db;
  color: #fff;
}

.active {
  background-color: #3498db;
  color: #fff;
}
