/* CartPage.css */

.cart-page {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h2 {
  color: #333;
}

.cart-items {
  list-style: none;
  padding: 0;
}

.cart-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-details {
  flex: 1;
}

.item-name {
  font-weight: bold;
}

.item-price {
  color: #555;
}

.item-actions {
  display: flex;
  align-items: center;
}

.quantity {
  margin-right: 10px;
  color: #777;
}

.remove-button {
  background-color: #ff4444;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.cart-product-image {
  width: 100px;
  height: 100px;
  align-self: center;
}
