.header {
  background-color: #3498db;
  padding: 10px;
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: center;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-link {
  margin: 0 10px;
  text-decoration: none;
}

.nav-item {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.nav-link:hover {
  text-decoration: underline;
}
